/*   Medidas de pantallas estandar:   1024, 768, 480, 320.  */

@media screen and (max-width: 1024px){

}


@media screen and (max-width: 767px){
	.header{
		display: block;
		height: auto;
	}

	.menu ol{
		flex-direction: column;
		align-items: center;
	}

	.header .logo{
		text-align: center;
	}

	.project{
		display: block;
	}

	.project-details,
	.project-imageContainer{
		width: auto;
	}

	.project-details{
		font-size: 16px;
	}
	

	.project-title{
		font-size: 1.5em;
		margin-bottom: .3em;
	}

	.project-url{
		font-size: 1em;
	}

	.project-curs{
		font-size: .7em;
	}

	.project-date{
		font-size: 1em;
	}

	.project-description{
		font-size: 0.8em;
	}

	.project-curse, 
	.project-date, 
	.project-url
	{
		margin: .3em 0;
	}


}


@media screen and (max-width: 480px){

}

@media screen and (max-width: 320px){

}




